*{
    color: black;
    margin: 0;
    padding: 0;
    font-family:  SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;;
   }
  #container{
      display: grid;
      grid-template-areas:
      'navmenu'
      'ads'
      'video'
      'storemenu'
      ;
      row-gap: 10px;
      background-color: #f5f5f7;
  }
  .home{
   background-color: red;
  }

  /* navmenu */
  /* navmenu */
  /* navmenu */
  /* navmenu */
  /* navmenu */
  /* navmenu */
  #navmenu{
   grid-area: navmenu;
   display: grid;
   grid-template-areas: 
   'logo shortcuts shortcuts shortcuts shortcuts shortcuts searchicon shopicon'
   ;
   height: 35px;
   background-color: white;
  }
  #logo{
   grid-area: logo;
   width: 30px;
   height: 27px;
   margin-left: 243px;
   align-items: center;
   margin-top: 6px;
  }
  #shortcuts{
   grid-area: shortcuts;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin-left: -117px;
   margin-top: 6px;
   
  }

  #shortcuts a{
        text-decoration: none;
        font-size: 12px;
        margin-left: 59px;
        height: 1px;
        width: 1px;
  }
  .store:hover #storemenu{
    grid-area: storemenu;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 325px;
    z-index: 2;
  }
  #searchicon{
   grid-area: searchicon;
   width: 20px;
   height: 20px;
   margin-top: 6px;
   margin-right: -15px;
}
#shopicon{
   grid-area: shopicon;
   width: 20px;
   height: 20px;
   margin-top: 6px;
   margin-right: 3px ;
  }
  
  /* storemenu*/
  /* storemenu*/
  /* storemenu*/
  /* storemenu*/
  /* storemenu*/
  /* storemenu*/
  /* storemenu*/
  /* storemenu*/
  /* storemenu*/
  #storemenu{
    grid-area: storemenu;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 0;
    width: 100%;
    height: 325px;
    z-index: 2;
    transition: 1s;
    display: none;
    
  }








  /* ads */
  /* ads */
  /* ads */
  /* ads */
  /* ads */
  /* ads */
  /* ads */
  #ads{
   grid-area: ads;
   height: 145px;
   grid-template-areas: 
   'images'
   'content'
   ;
   background-color: white;
  }
  #images{
   grid-area: images;
   text-align: center;
   align-items: center;
   justify-content: center;
   height: 105px;
   /* grid-template-areas: 
    'airpods2ndgeneration airpods3rdgeneration airpodspro airpodsmax compare applemusic' */

   
}
/* #airpods2ndgeneration{
   grid-area: airpods2ndgeneration;
}
#airpods3rdgeneration{
   grid-area: airpods3rdgeneration;
}
#airpodspro{
   grid-area: airpodspro;
}
#airpodsmax{
   grid-area: airpodsmax;
}
#compare{
   grid-area: compare;
}
#applemusic{
   grid-area: applemusic;
} */
#images img{
   width: 32px;
   height: 54px;
   margin-left: 66px;
   margin-top: 20px;
}
#images img:hover{
    transform: scale(1.3);
    cursor: pointer;
    filter: invert(75%);
    
}
#content{
   grid-area: content;
   height: 34px;
  }
  #content p{
   margin-top: 10px;
   margin-left: 578px;
  }
  #content a{
   text-decoration: none;
color: #007dfa99;
margin-top: 10px;
margin-left: 6px;
  }

  /* video */
  /* video */
  /* video */
  /* video */
  /* video */
  /* video */
  /* video */
  /* video */
  #video{
   grid-area: video;
   background-color: #f5f5f7;
   height: 820px;
   width: 1459.2;
   margin: 10px 30px;
   

  }
  #video video{
    height: 820px;
    width: 1459.2px;
    z-index: 1;
    border-radius: 20px;
    opacity: 1.2;
  }